/node_modules
/public/mix-manifest.json
/public/storage
/storage/account*
/storage/platform_types
/public/js/*.js
/public/css/*.css
/vendor
/.idea
/public/coreui
/public/*.js
Homestead.json
Homestead.yaml
.env
/nbproject
/.vscode
.vs/
/.phpunit.result.cache
*.DS_Store